 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 60px;
 }

 .panel-primary>.panel-heading {
   color: white;
   background-color: #428bca;
   border-color: #428bca;
 }

 .panel-heading {
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
 }


 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

footer {
  padding-bottom: 1em;
}
